body {
    font-family: sans-serif;
    margin: 40px;
    color: #222;
}

.index-bg {
    background-color: #b1b4b6;
}

.galerie-bg {
    background-color: #acdbb1;
}

.knn-bg {
    background-color: #a3dce4;
}